.Authentication
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: #F5B8D3;
	background-image: radial-gradient(farthest-corner at bottom left, #90DDF5, transparent 50%), radial-gradient(farthest-corner at bottom right, #8068A8, transparent 50%);
	height: 100vh;
}

.Input_Area
{
	border: 2px solid #4D4D4D;
	border-radius: 0.5rem;
	background-color: white;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 1rem;
	max-width: 200px;
}

.Authentication_Banner
{
	max-width: 100%;
}

.Forgot_Password_Field
{
	text-decoration: underline;
	cursor: pointer;
}

.Error_Message
{
	color: #AC0202;
	font-weight: normal;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	animation: Fade_In 375ms;
}

@keyframes Fade_In 
{
	0% 
	{ 
		opacity: 0; 
	}
	50% 
	{
		opacity: 0.5; 
		transform: scale(1.1);
	}
	75% 
	{
		transform: scale(1);
		opacity: 0.75; 
	}
	100% 
	{
		opacity: 1;
	}
}