.General_Information_Edtior
{
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.Managers
{
	padding-top: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
}