.Addon_Container
{
	display: flex;
	flex-direction: row;
	gap: 1rem;
    flex-wrap: wrap;
}

.Price_Container
{
    display: flex;
	flex-direction: row;
	gap: 1rem;
}

.Button_on_a_Row
{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Button_Icon_on_a_Row
{
    align-self: center;
	height: 1.5rem;
	width: 1.5rem;
}