.Addon_Container
{
	display: flex;
	flex-direction: row;
	gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.Addon_Container > div
{
    flex-grow: 1;
}

.Button_Icon_on_a_Row
{
    cursor: pointer;
	height: 1.25rem;
	width: 1.25rem;
}