.Cart_Icon
{
	display: flex;
	border: 1px solid #4D4D4D;
	border-radius: 50%;
	cursor: pointer;
	height: 6rem;
	width: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Cart_Icon_Image
{
	height: 4rem;
	width: 4rem;
}

.Active_Cart_Icon
{
	border: 0;
	background-color: #8068A8;
}