.Account_Button_Container
{
	margin-left: auto;
	position: relative;
}

.Avatar_Icon
{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.Account_Icon
{
	border: 2px solid #8068A8;
}

.Account_Button
{
	cursor: pointer;
}

.Account_Menu
{
	position: absolute;
	border-radius: 0.5rem;
	border: 2px solid #4D4D4D;
	right: 0;
    z-index: 3;
    background-color: #FFFFFF;
}

.Account_Menu_Option
{
	cursor: pointer;
	padding: 0.5rem 1rem;
    white-space: nowrap;
}

.Account_Menu_Option:not(:last-of-type)
{
	border-bottom: 2px solid #4D4D4D;
}

.Account_Menu_Option:hover
{
	background-color: #8068A8;
	font-weight: bold;
	color: #FFFFFF;
}

.Account_Menu_Option:first-of-type:hover
{
	border-radius: 0.375rem 0.375rem 0 0;
}

.Account_Menu_Option:last-of-type:hover
{
	border-radius: 0 0 0.375rem 0.375rem;
}