.Text_Input
{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.Text_Input_Label
{
	font-size: 1.25rem;
	font-weight: bold;
	color: #4D4D4D;
}

.Text_Input_Field
{
	color: #4D4D4D;
	border: 2px solid #4D4D4D;
	background-color: transparent;
	height: 2rem;
	border-radius: 0.5rem;
	padding-left: 1rem;
	font-size: 1.25rem;
	width: 100%;
	box-sizing: border-box
}

.Text_Input_Field:focus
{
	outline: none;
	border: 2px solid #8068A8;
	-webkit-transition: border 100ms ease-out;
	-ms-transition: border 100ms ease-out;
	transition: border 100ms ease-out;
}

.Text_Input:focus-within > .Text_Input_Label
{
	color: #8068A8;
	-webkit-transition: color 100ms ease-out;
	-ms-transition: color 100ms ease-out;
	transition: color 100ms ease-out;
}

.Error_Icon
{
	height: 1rem;
	width: 1rem;
}

.Error_Message
{
	color: #AC0202;
	font-weight: normal;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	animation: Fade_In 375ms;
}

@keyframes Fade_In 
{
	0% 
	{ 
		opacity: 0; 
	}
	50% 
	{
		opacity: 0.5; 
		transform: scale(1.1);
	}
	75% 
	{
		transform: scale(1);
		opacity: 0.75; 
	}
	100% 
	{
		opacity: 1;
	}
}

.Text_Input_Error
{
	border: 2px solid #AC0202;
}

.Text_Input_Field:disabled
{
	cursor: not-allowed;
	background-color: #DDDDDD;
}